.chooseDefaultGraph-parent {
    margin: 3vw auto;
    width: 94vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chooseDefaultGraph-inner {
    background-color: rgba(50, 50, 100, 0.95);
    color: white;
    width: 90%;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.chooseGraphContainer>div {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.buttonEnabled {
    background-color: green;
    color: white;
    /* padding: 10px 24px; */
    border: none;
    cursor: pointer;
}

.buttonEnabled:hover {
    background-color: rgb(94, 161, 94);

}

.videoLinkDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    padding: 10px;
}

.videoLinkDiv_disabledComments {
    border-radius: 5px;
    border: solid 1px red
}

.videoLinkDiv button {
    background: rgba(255, 0, 0, 0.95);
    color: white;
    border: none;
    cursor: pointer;
}

.videoLinkDiv button:hover {
    background: rgba(255, 0, 0, 0.7);
}